@import "../shared/variables";
// @import "../shared/colours";

.dc-navbar {
  $text-colour: darkgreen;
  position: absolute;
  top: 0;
  //left: 0;
  height: $navbar-height;
  background-color: coral;
  max-width: 700px;
  margin: auto;

  width: 100%;

  &__hamburger {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    span {
      line-height: 50px;
      color: $text-colour;
      &.glyphicon {
        top: -2px;
        font-size: 1.5em;
      }
    }
  }
  .dc-navbar-logo {
    height: 40px;
    margin: 5px;
  }
  .dc-navbar-brand-label {
    color: $text-colour;
    font-size: 1.2em;
  }
}


/* -----------------------------------------------------------------------------
  SLIDE AND PUSH MENUS COMPONENT
----------------------------------------------------------------------------- */


/**
 * Menu overview.
 */

.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #67b5d1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.c-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}


/**
 * Left and right menus
 *
 * Slide and push menus coming in from the left and right inherit a lot of
 * common styles. We'll start each of them off by doing up the common styles
 * for each version, followed by individual styles.
 *
 * The various versions are governed by modifier classes.
 */


/**
 * Common modifiers for left/right menus.
 */

.c-menu--slide-left,
.c-menu--slide-right,
.c-menu--push-left,
.c-menu--push-right {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

@media all and (min-width: 320px) {
  .c-menu--slide-left,
  .c-menu--slide-right,
  .c-menu--push-left,
  .c-menu--push-right {
    width: $side-menu-width;
  }
}

.c-menu--slide-left .c-menu__item,
.c-menu--slide-right .c-menu__item,
.c-menu--push-left .c-menu__item,
.c-menu--push-right .c-menu__item {
  // display: block;
  // text-align: center;
  // border-top: solid 1px #b5dbe9;
  // border-bottom: solid 1px #3184a1;
}

.c-menu--slide-left .c-menu__item:first-child,
.c-menu--slide-right .c-menu__item:first-child,
.c-menu--push-left .c-menu__item:first-child,
.c-menu--push-right .c-menu__item:first-child {
  // border-top: none;
}

.c-menu--slide-left .c-menu__item:last-child,
.c-menu--slide-right .c-menu__item:last-child,
.c-menu--push-left .c-menu__item:last-child,
.c-menu--push-right .c-menu__item:last-child {
  // border-bottom: none;
}

.c-menu--slide-left .c-menu__link,
.c-menu--slide-right .c-menu__link,
.c-menu--push-left .c-menu__link,
.c-menu--push-right .c-menu__link {
  // display: block;
  // padding: 12px 24px;
  // color: #fff;
}

.c-menu--slide-left .c-menu__close,
.c-menu--slide-right .c-menu__close,
.c-menu--push-left .c-menu__close,
.c-menu--push-right .c-menu__close {
  display: block;
  padding: 12px 24px;
  width: 100%;
  background-color: antiquewhite;
}


/**
 * Slide/Push Menu Left.
 */

.c-menu--slide-left,
.c-menu--push-left {
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
  .c-menu--slide-left,
  .c-menu--push-left {
    -webkit-transform: translateX($side-menu-width-negative);
    -ms-transform: translateX($side-menu-width-negative);
    transform: translateX($side-menu-width-negative);
  }
}

.c-menu--slide-left.is-active,
.c-menu--push-left.is-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}


/**
 * Slide/Push Menu Right.
 */

.c-menu--slide-right,
.c-menu--push-right {
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  .c-menu--slide-right,
  .c-menu--push-right {
    -webkit-transform: translateX($side-menu-width);
    -ms-transform: translateX($side-menu-width);
    transform: translateX($side-menu-width);
  }
}

.c-menu--slide-right.is-active,
.c-menu--push-right.is-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

/**
 * Top and bottom menus
 *
 * Slide and push menus coming in from the top and bottom inherit a lot of
 * common styles. We'll start each of them off by doing up the common styles
 * for each version, followed by individual styles.
 *
 * The various versions are governed by modifier classes.

/**
 * Common modifiers for top/bottom menus
 */
.c-menu--slide-top,
.c-menu--slide-bottom,
.c-menu--push-top,
.c-menu--push-bottom {
  vertical-align: middle;
  width: 100%;
  height: $bottom-menu-height;
  text-align: center;
  overflow-x: scroll;
}

.c-menu--slide-top .c-menu__items,
.c-menu--slide-bottom .c-menu__items,
.c-menu--push-top .c-menu__items,
.c-menu--push-bottom .c-menu__items {
  display: inline-block;
  text-align: center;
}

.c-menu--slide-top .c-menu__item,
.c-menu--slide-bottom .c-menu__item,
.c-menu--push-top .c-menu__item,
.c-menu--push-bottom .c-menu__item {
  display: inline-block;
  line-height: $bottom-menu-height;
}

.c-menu--slide-top .c-menu__link,
.c-menu--slide-bottom .c-menu__link,
.c-menu--push-top .c-menu__link,
.c-menu--push-bottom .c-menu__link {
  display: block;
  padding: 0 4px;
  color: #fff;
}

.c-menu--slide-top .c-menu__close,
.c-menu--slide-bottom .c-menu__close,
.c-menu--push-top .c-menu__close,
.c-menu--push-bottom .c-menu__close {
  display: inline-block;
  margin-right: 12px;
  padding: 0 24px;
  height: $bottom-menu-height;
  line-height: $bottom-menu-height;
}

/**
 * Slide/Push Menu Top.
 */
.c-menu--slide-top,
.c-menu--push-top {
  top: 0;
  left: 0;
  -webkit-transform: translateY($bottom-menu-height-negative);
      -ms-transform: translateY($bottom-menu-height-negative);
          transform: translateY($bottom-menu-height-negative);
}

.c-menu--slide-top.is-active,
.c-menu--push-top.is-active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

/**
 * Slide/Push Menu Bottom.
 */
.c-menu--slide-bottom,
.c-menu--push-bottom {
  bottom: 0;
  left: 0;
  -webkit-transform: translateY($bottom-menu-height);
      -ms-transform: translateY($bottom-menu-height);
          transform: translateY($bottom-menu-height);
}

.c-menu--slide-bottom.is-active,
.c-menu--push-bottom.is-active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

/**
 * Wrapper states.
 *
 * Various wrapper states occur depending on if a menu is pushing into view, in
 * which case, the wrapper has to be pushed by the respective distance.
 */
.o-wrapper.has-push-left {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
@media all and (min-width: 320px) {
  .o-wrapper.has-push-left {
    -webkit-transform: translateX($side-menu-width);
        -ms-transform: translateX($side-menu-width);
            transform: translateX($side-menu-width);
  }
}

.o-wrapper.has-push-right {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
@media all and (min-width: 320px) {
  .o-wrapper.has-push-right {
    -webkit-transform: translateX($side-menu-width-negative);
        -ms-transform: translateX($side-menu-width-negative);
            transform: translateX($side-menu-width-negative);
  }
}

.o-wrapper.has-push-top {
  -webkit-transform: translateY($bottom-menu-height);
      -ms-transform: translateY($bottom-menu-height);
          transform: translateY($bottom-menu-height);
}

.o-wrapper.has-push-bottom {
  -webkit-transform: translateY($bottom-menu-height-negative);
      -ms-transform: translateY($bottom-menu-height-negative);
          transform: translateY($bottom-menu-height-negative);
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
  overflow: hidden;
}

/**
 * Close button resets.
 */
.c-menu__close {
  color: #fff;
  background-color: #3184a1;
  font-size: 14px;
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.c-menu__close:focus {
  outline: none;
}


/* -----------------------------------------------------------------------------

  MASK COMPONENT

----------------------------------------------------------------------------- */

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.menu-button {
  display: inline-block;
  display: block;
  height: $menu-item-height;
  background-color: $menu-colour;
  width: 100%;
  padding: 0;
  margin: 0;
  //border: none; ////////////////////////////////////
  &__box {
    float: left;
    width: 15px;
    height: calc(#{$menu-item-height - 5px});
    // background-color: orange;
  } ////////////////////////////////////
  &__words {
    float: left;
    height: $menu-item-height;
    line-height: $menu-item-height;
    font-size: 14px;
    margin-left: 15px;

    &_inline {
      display: inline-block;
    }
  }
  &_active {
    background-color: $menu-selected-colour;
  }

  &__inline-glyph {

    &_bottom {
      width: 50px;
      float: left;
      text-align: center;
    }
  }
}