.colour-preset-0 {
  background-color: #f18d9e; }

.colour-preset-1 {
  background-color: #006d8e; }

.colour-preset-2 {
  background-color: #ffc428; }

.colour-preset-3 {
  background-color: #d72638; }

.colour-preset-4 {
  background-color: #0c0a3e; }

.colour-preset-5 {
  background-color: #7b1e7a; }

.colour-preset-6 {
  background-color: #de7a22; }

.colour-preset-7 {
  background-color: #a2c523; }

.colour-preset-8 {
  background-color: #7d4427; }

.colour-preset-9 {
  background-color: #486B00; }

.colour-preset-0.opaque {
  background-color: rgba(241, 141, 158, 0.5); }

.colour-preset-1.opaque {
  background-color: rgba(0, 109, 142, 0.5); }

.colour-preset-2.opaque {
  background-color: rgba(255, 196, 40, 0.5); }

.colour-preset-3.opaque {
  background-color: rgba(215, 38, 56, 0.5); }

.colour-preset-4.opaque {
  background-color: rgba(12, 10, 62, 0.5); }

.colour-preset-5.opaque {
  background-color: rgba(123, 30, 122, 0.5); }

.colour-preset-6.opaque {
  background-color: rgba(222, 122, 34, 0.5); }

.colour-preset-7.opaque {
  background-color: rgba(162, 197, 35, 0.5); }

.colour-preset-8.opaque {
  background-color: rgba(125, 68, 39, 0.5); }

.colour-preset-9.opaque {
  background-color: rgba(72, 107, 0, 0.5); }
